html {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: inherit;

  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  background: green;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}
