.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  &-card {
    margin: 1rem;
    flex-grow: 1;
    width: calc(70% / 4);
    min-width: 5rem;
    // padding: 0.5rem;
    border: 1px solid lightgray;
    &__body {
      padding: 1rem;
    }
    &__box {
      display: flex;
      justify-content:flex-end;
      width: 100%;
      &btn {
        margin-left: 1rem;
        padding: 0.5rem 0.9rem;
        background: grey;
        color: white;
      }
    }
  }
}
