.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  &-card {
    margin: 1rem;
    flex-grow: 1;
    width: calc(70% / 4);
    min-width: 5rem;
    border: 1px solid lightgray;
    &__text {
      font-size: 0.8rem;
    }
    &__img {
      width: 8rem;
    }
    &__img:hover {
      transform: scale(1.1);
      transition: 1s;
    }
    &__wrap {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
    &__body {
      padding: 1rem;
    }
    &__box {
      display: flex;
      justify-content:flex-end;
      width: 100%;
      &btn {
        margin-right: 1rem;
        padding: 0.5rem 0.9rem;
        color: white;
      }
      &doc {
        padding: 0.5rem 0.9rem;
        background: lightgray;
        color: black;
      }
    }
  }
}
