<div class="app">
  <div class="main">
    <div class="hero">
      <h1 class="hero-title">Bamboo Solutions Demos</h1>
      <div class="hero-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
    <div class="grid">

      <div class="grid-card">
        <img src="http://www.fillmurray.com/300/200" class="grid-card__img">
        <div class="grid-card__body">
          <h4 class="grid-card__title">Chart Plus</h4>
          <p class="grid-card__text">Automatically send cutomized conditional email notifs and reminders in sharepoint. </p>
          <div class="grid-card__box">
            <a href="#" class="grid-card__boxbtn">Demo</a>
            <a href="#" class="grid-card__boxbtn">Docs</a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="acct">
    <div class="contact">
      <h2 class="contact-heading">Your Account Manager:</h2>
      <div class="contact-body">
        <div class="contact-body__item">
          <div class="contact-body__item-large">Kevin Townsend</div>
          <div class="contact-body__item-small">Account Manager</div>
        </div>
        <div class="contact-body__item">
          <div class="contact-body__item-large">kevint@sharepointxperts.com</div>
          <div class="contact-body__item-small">202-930-7358</div>
        </div>
        <div class="contact-body__item">
          <div class="contact-body__item-large">Schedule a quick call with me:</div>
          <a href="https:www.calendly.com/kevint/15" class="contact-body__item-small">https:calendly.com/kevint/15</a>
        </div>
      </div>
    </div>
    <div class="teaser">
      <div class="teaser-half">Learn About Our Product Development Process</div>
      <div class="teaser-half"></div>
    </div>
    <div class="teaser">
      <div class="teaser-half">What's on our product Roadmap</div>
      <div class="teaser-half"></div>
    </div>
    <div class="teaser">
      <div class="teaser-half">How to count your servers for pricing</div>
      <div class="teaser-half"></div>
    </div>
    <div class="teaser">
      <div class="teaser-half">Did you know we have an amazing services team?</div>
      <div class="teaser-half"></div>
    </div>
  </div>
</div>
